ul {
  list-style: none;
  padding: 0;
}
.wpr {
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  color: #172d32;
  border: 2px solid;
  border-radius: 6px;
}
.header {
  font-size: 1.3rem;
  margin-bottom: 10px;
}
.contact-item {
  display: flex;
  align-items: center;
  width: 100%;
  height: 44px;
}
.contact-name {
  margin: 0 auto 0 8px;
}
.large-img {
  width: 34px;
  height: 34px;
}
.small-img {
  width: 24px;
  height: 24px;
}
.add-btn {
  height: 32px;
  padding: 6px 12px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #e2e8fd;
}
.add-btn:hover {
  background-color: #cbd5e1;
}
.add-btn:focus {
  background-color: #c4b5fd;
  border: 2px solid #c4b5fd;
}
.empty-state-msg {
  color: #64748b;
}

.added-contacts-wpr {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
  padding: 5px 16px;
  gap: 109px;
  min-height: 44px;
  border: 2px solid #e2e8f0;
  border-radius: 12px;
}
.added-list {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}
.added-contact {
  display: flex;
  align-items: center;
  padding: 2px;
  gap: 4px;
  height: 28px;
  background: #ffffff;
  border: 1px solid #e2e8f0;
  border-radius: 14px;
}
.close-btn {
  background-color: transparent;
  border: 0;
  width: 9px;
  height: 9px;
  display: flex;
  align-items: center;
}
